@CHARSET "UTF-8";
/*
	This file is part of GeneCommittee.

	GeneCommittee is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	GeneCommittee is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with GeneCommittee.  If not, see <http://www.gnu.org/licenses/>.
*/

.description {
	text-align: justify; 
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

.additional-info {
	font-family: Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
	text-align: justify;
}

div#additional-info-left {
	width: 420px; 
	float: left; 
}

div#additional-info-right {
	width: 240px; 
	float: right; 
}

div#citation {
	border: 1px solid #999;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	padding: 0px 10px 10px 10px;
	clear: both;
	background: white;
}

a {
	text-decoration: none;
	color: #00396E;
}